
p{
	color: blue;
}
.messge {
	color: green;
}
#introduction {
	color: red;}
P{
	color: green;
}
p{
	color: orange;
}
.lorem{
	background-color: black;
	color: white;
	text-align: center;
 width: 100px;
	}
